{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Log in{% endblock title %}

{% block content %}
<div class="container pt-5" style="height: 80vh;">
    <h2 class="display-4 text-secondary">Log In</h2>
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-success">Log In</button>
        <span class="ml-3">Don't have an account? Then please <a href="{{ signup_url }}">Sign up</a>.</span>
    </form>
</div>
{% endblock content %}